        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        body {
            background-color: #667c8e
        }
        
        header {
            display: flex;
            align-items: center;
            padding: 10px 1% 0 0;
        }
        
        .menu {
            right: 0;
            padding: 20px;
            padding-bottom: 50px;
            margin-left: 55%;
        }
        
        .name {
            font-size: 55px;
            padding-bottom: 33px;
            font-weight: 330;
            color: darkblue;
        }
        
        .logo {
            padding-right: 0px;
        }
        
        .parag {
            margin: 0 90px;
            background-color: gray;
        }
        
        .nav {
            width: 30px;
            display: block;
            margin: 1em 0 0 1em;
        }
        
        .nav div {
            height: 4px;
            background-color: white;
            margin: 5px 0;
            border-radius: 25px;
        }
        
        .one {
            width: 30px;
        }
        
        .two {
            width: 20px;
        }
        
        .three {
            width: 25px;
        }
        /*
li{
    font-weight: 500;
    font-size:50px;
    color:dodgerblue;
    text-decoration: none;
}

header{
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:30px 10%;
}

.logo{
    cursor: pointer;
}
.nav_links{
    list-style: none;
    padding: 0px 20px;
}

.menu{
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.menu:hover{
    
}*/