        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        body {
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 13%, rgba(135, 242, 255, 0.5298494397759104) 52%);
            background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 13%, rgba(135, 242, 255, 0.5298494397759104) 52%);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 13%, rgba(135, 242, 255, 0.5298494397759104) 52%);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#87f2ff", GradientType=1);
        }
        
        header {
            display: flex;
            align-items: center;
            padding: 10px 1% 0 0;
        }
        
        .menu {
            right: 0;
            padding: 20px;
            padding-bottom: 50px;
            margin-left: 55%;
        }
        
        .name {
            font-size: 55px;
            padding-bottom: 33px;
            font-weight: 330;
            color: darkblue;
        }
        
        .logo {
            padding-right: 0px;
        }
        
        .parag {
            margin: 0 90px;
            background-color: gray;
        }
        
        .nav {
            width: 30px;
            display: block;
            margin: 1em 0 0 1em;
        }
        
        .nav div {
            height: 4px;
            background-color: white;
            margin: 5px 0;
            border-radius: 25px;
        }
        
        .one {
            width: 30px;
        }
        
        .two {
            width: 20px;
        }
        
        .three {
            width: 25px;
        }